In [1]:

from langchain.llms import GooglePalm
api_key = 'AIzaSyASMku58Nwaicj7aexTJPeZRWA-uTGWQvU'

In [2]:
print("done")

done

In [3]:
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
db_user = "root"
db_password = "roots"
db_host = "localhost"
db_name = "atliq_tshirts"

In [4]:
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

In [5]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	White	M	17	25
2	Levi	White	XL	19	72
3	Adidas	White	XL	17	15
*/

In [6]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose = True)

qns1 = db_chain("how many stocks of tshits of levi do we have") ## RIGHT

> Entering new SQLDatabaseChain chain...
how many stocks of tshits of levi do we have
SQLQuery:SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('757'),)]
Answer:757
> Finished chain.

In [7]:
qns2 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")
#RIGHT

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(34,)]
Answer:34
> Finished chain.

In [8]:
qns3 = db_chain("How much is the price of the inventory for all small size  t-shirts?") # WORNG 
qns3 = db_chain("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'") # Right

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size  t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('367'),)]
Answer:367
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('21152'),)]
Answer:21152
> Finished chain.

In [9]:
qns4 = db_chain("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'") # CORRECTED QUERY

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('21152'),)]
Answer:21152
> Finished chain.

In [10]:
# qns4 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")
# # WORNG

In [11]:

sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns4 = db_chain.run(sql_code) # CORRECTED QUERY

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('24540.700000'),)]
Answer:24540.7
> Finished chain.

In [12]:
qns5 = db_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")
# WORNG 
qns5 = db_chain("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'") #corrected


qns6 = db_chain.run("How many white color Levi's shirt I have")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('505'),)]
Answer:505
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('25008'),)]
Answer:25008
> Finished chain.


> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(51,), (100,), (25,), (55,), (72,)]
Answer:72
> Finished chain.

Few-shot Learning

In [13]:
qns5 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")
# CORRCTED QUERY

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('25008'),)]
Answer:25008
> Finished chain.

In [14]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns2},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns3},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,'SQLResult': "Result of the SQL query",
     'Answer': qns4} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns5},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns6
     }
]

Creating Semantic Similarity

In [15]:

from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

embeddings = HuggingFaceEmbeddings(model_name ='sentence-transformers/all-MiniLM-L6-v2' )

to_vec = [item['Question'] for item in few_shots]

C:\Users\manis\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
to_vec

['How many t-shirts do we have left for Nike in XS size and white color?',
 'How much is the total price of the inventory for all S-size t-shirts?',
 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
 "How many white color Levi's shirt I have?"]

In [19]:
import json

# Convert the inner dictionaries to strings
for item in few_shots:
    for key, value in item.items():
        if isinstance(value, dict):
            item[key] = json.dumps(value)

# Now you can use few_shots with Chroma.from_texts()
vec_store = Chroma.from_texts(to_vec, embeddings, metadatas=few_shots)

In [21]:
few_shots

[{'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '{"query": "How many t-shirts do we have left for nike in extra small size and white color?", "result": "34"}'},
 {'Question': 'How much is the total price of the inventory for all S-size t-shirts?',
  'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '{"query": "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = \'S\'", "result": "21152"}'},
 {'Question': 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
  'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ",
  'SQLResult': 'Result of the SQL query',
  'Answer': '24540.7'},
 {'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '25008'},
 {'Question': "How many white color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '72'}]

In [ ]:
# chroma_client = chromadb.Client()

# collection = chroma_client.create_collection(name = "tesgf")


# collection.add(embeddings=embeddings_list,documents=to_vec, ids=["id1", "id2","1d3","id4","id5"])